
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f7ff;
    margin: 0;
    padding: 0;
}


header {
    background-color: #5271ff;
    color: white;
    text-align: center;
    padding: 20px;
}


.intro-box, .details-box {
    background-color: white;
    width: 80%;
    margin: 20px auto;      
    padding: 20px;
    border: 2px solid #5271ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.highlight {
    color: #ff4b4b;
}


footer {
    text-align: center;
    background-color: #5271ff;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}